{% extends 'base.html.twig' %}

{% block body %}
    <span style="margin-top: 55px">
       <nav  id="navAccount" class="navbar navbar-light bg-light navbar-expand-md">
           <ul class="nav collapse navbar-collapse flex-md-row justify-content-md-center align-items-sm-start">
               <li class="nav-item"><button id="btn1" class="bottomAccount">Mes informations</button></li>
               <li class="nav-item"><button id="btn2" class="bottomAccount">Mes parie</button></li>
               <li class="nav-item"><button id="btn3" class="bottomAccount">Mon historique </button></li>
               <li class="nav-item"><button id="btn4" class="bottomAccount">link4</button></li>
           </ul>
       </nav>

        <section style="displ">
            <div class="container">
                <div class="row">
                    <p id="para1">Je suis un test1</p>
                    <p id="para2">Je suis un test2</p>
                    <p id="para3">Je suis un test3</p>
                    <p id="para4">Je suis un test4</p>
                </div>
            </div>

        </section>
        <section>

        </section>


    </div>

{% endblock %}

{% block  javascripts %}

{% endblock %}
