{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-top: 55px">
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <ul class="nav collapse navbar-collapse flex-md-row justify-content-md-around align-items-sm-start">
                <li class="nav-item"><button id="btn1" class="btn btn-secondary">link</button></li>
                <li class="nav-item"><button id="btn2" class="""btn btn-secondary">link2</button></li>
                <li class="nav-item"><button id="btn3" class="btn btn-secondary">link3</button></li>
            </ul>
        </nav>

        <section style="displ">
            <p id="para1">Je suis un test</p>
        </section>
        <section>
            <p> Je suis un deuxieme test</p>
        </section>


    </div>

{% endblock %}

{% block  javascripts %}

{% endblock %}
